.firstNametf{
    -fx-border-width: 2px;
    -fx-border-color: #59a7f0;
    -fx-border-radius: 20px;
    -fx-background-color:  #353A56;
    -fx-text-fill: white;
}

.lastNameTF{
   -fx-border-width: 2px;
    -fx-border-color: #59a7f0;
    -fx-border-radius: 20px;
    -fx-background-color:  #353A56;
    -fx-text-fill: white;
}

.emailTF{
    -fx-border-width: 2px;
    -fx-border-color: #59a7f0;
    -fx-border-radius: 20px;
    -fx-background-color:  #353A56;
    -fx-text-fill: white;
}

.phoneNumberTF{
    -fx-border-width: 2px;
    -fx-border-color: #59a7f0;
    -fx-border-radius: 20px;
    -fx-background-color:  #353A56;
     -fx-text-fill: white;
    
}

.passwordTF{
   -fx-border-width: 2px;
   -fx-border-color: #59a7f0;
   -fx-border-radius: 20px;
   -fx-background-color:  #353A56;
   -fx-text-fill: white;
}

.confirmPasswordTF{
    -fx-border-width: 2px;
   -fx-border-color: #59a7f0;
   -fx-border-radius: 20px;
   -fx-background-color:  #353A56;
   -fx-text-fill: white;
}
.addressTF{
   -fx-border-width: 2px;
   -fx-border-color: #59a7f0;
   -fx-border-radius: 20px;
   -fx-background-color:  #353A56;
   -fx-text-fill: white;
}

.userIdLble{
   -fx-border-width: 2px;
   -fx-border-color: #59a7f0;
   -fx-border-radius: 20px;
   -fx-background-color:  #353A56;
   -fx-text-fill: white;
}
.achorpane{
    -fx-background-color: #353A56;
}