/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Nov 21, 2023, 10:16:27 PM
    Author     : electr0
*/
.root {
    -fx-background-color: #FAFAFA;
}

.mfx-button {
    -fx-background-color: #1976D2;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-background-radius: 5px;
}

.table-view .table-cell {
    -fx-alignment: CENTER;
    -fx-text-fill: #424242;
}

