/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Nov 20, 2023, 3:22:02 PM
    Author     : electr0
*/

@import '../../fonts/Fonts.css';
@import '../../css/MFXColors.css';

.rootPane {
	-fx-font-family: 'Visby Round CF Heavy';
	-fx-font-size: 12;
	-fx-text-fill: white;
}

.messageBody {
    -fx-background-color: #e0e0e0;
    -fx-padding: 10px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-wrap-text: true;
    -fx-font-family: 'Visby Round CF Heavy';
    -fx-font-size: 12;
    -fx-text-fill: black;
}

.mfx-button {
    -fx-background-color: #1976D2;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-background-radius: 5px;
}